
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


:root{
  --bg-gradient:linear-gradient(90deg, rgba(252,77,109,1) 26%, rgba(253,149,55,1) 100%);
  --pink-dark:#FC4D6D;
  --text-Shade:#5A5454;
  --ligth-text:#5E5252;
  --header-Text:#948181;
  --bodyBg:#FFFDFD;
  --black-text:#1F1F1F;
}
body{
  background-color: var(--bodyBg);
}
html{
  font-size: 62.61%;
}